<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <head><title>404 Not Found</title></head>
    <body>
        <main layout:fragment="content">
            <h1>404 Not Found</h1>
            <p th:text="${errorMessage}">エラーメッセージ</p>
            <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin/programs}">管理者ページへ戻る</a>
            <a th:if="${#authorization.expression('hasRole(''USER'')')}" th:href="@{/programs}">一覧ページへ戻る</a>
        </main>
    </body>
</html>