<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>番組登録</title></head>
<body>
<h1>番組登録フォーム</h1>
<form th:action="@{/programs}" th:object="${program}" method="post">
    <div>
        <label>タイトル: <input type="text" th:field="*{title}" /></label><br/>
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>
    <div>
        <label>パーソナリティ: <input type="text" th:field="*{host}" /></label><br/>
        <div th:if="${#fields.hasErrors('host')}" th:errors="*{host}"></div>
    </div>
    <div>
        <label>説明: <textarea th:field="*{description}"></textarea></label>
    </div>
    <button type="submit">登録</button>
</form>
<a href="/programs">戻る</a>
</body>
</html>
