<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><title>ラジオ番組一覧</title></head>
    <body>
        <h1>ラジオ番組一覧</h1>
        <ul>
            <li th:each="program : ${programs}">
                <a th:href="@{'/programs/' + ${program.id}}"
                   th:text="${program.title}">番組タイトル</a>
                -
                <span th:text="${program.host}">パーソナリティ名</span>
                <!-- フォローボタン -->
                <form th:action="@{'/programs/' + ${program.id} + '/follow'}" method="post">
                    <button type="submit">フォロー</button>
                </form>
            </li>
        </ul>
        <form th:action="@{/logout}" method="post">
            <button type="submit">ログアウト</button>
        </form>
    </body>
</html>